<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="bootstrap.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd">
  <coverage/>
  <testsuites>
    <testsuite name="Base">
      <directory>Cache/</directory>
      <directory>Config/</directory>
      <directory>Criteria/</directory>
      <directory>DB/</directory>
      <directory>Filesystem/</directory>
      <directory>Logger/</directory>
      <directory>Mail/</directory>
      <directory>MQueue/</directory>
      <directory>Password/</directory>
      <directory>Process/</directory>
      <directory>Session/</directory>
      <directory>Translation/</directory>
      <directory>View/</directory>
      <file>StrTest.php</file>
    </testsuite>
  </testsuites>
  <source/>
</phpunit>
